@model Group

@{
    Layout = "MyLayout";
    ViewData["Title"] = "Edit Group";
}


<div class="edit-group-container">
    <h1 class="title-cont">Edit a group</h1>
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Group", method: FormMethod.Post))
    {
        <div class="title-group">
            @Html.Label("Title", "Title")

            @Html.EditorFor(g => g.Name)

            @Html.ValidationMessageFor(g => g.Name, null)
        </div>
        <div class="add-description">
            @Html.Label("Content", "Content")

            @Html.EditorFor(g => g.Description)

            @Html.ValidationMessageFor(g => g.Description, null)
        </div>
        <button type="submit" class="creat-group-btn">Edit Group</button>
    }
</div>