@model Group 

@{
    Layout = "MyLayout";
}

<div class="chat-container">
    <div class="chatbox">
        @if (Model.UserMembership== null)
        {
            <form method="post" asp-route="new_group_membership" asp-route-id="@Model.Id" class="join-group">
                <button type="submit" class="enter-group">
                    Enter Group
                </button>
            </form>
        }
        else if (Model.UserMembership.Status != MembershipStatus.Pending)
        {
            <div class="top-bar">

                <div class="avatar">
                    <p></p>
                </div>
                <div class="chat-name">@Model.Name</div>
                <div class="icons">
                    <i class="fas fa-phone"></i>
                    <i class="fas fa-video"></i>
                </div>
                <div class="menu">
                    <div class="dots"></div>
                </div>
            </div>
            <div class="middle">
                <div class="text-messages">
                    @foreach (var message in Model.Messages)
                    {
                        @Html.Partial("MessagePartial", message)
                    }
                </div>
            </div>
            <div class="bottom-bar">
                @using (Html.BeginForm("Index", "Group", method: FormMethod.Post, htmlAttributes: new { @class = "chat" }))
                {
                    <input type="hidden" name="GroupId" value="@Model.Id">
                    <input name="Content" type="text" class="chat-input" placeholder="Type a message..."/>
                    @Html.ValidationMessage("Content",null)
                    <button type="submit" class="chat-button">
                        <i class="fas fa-paper-plane"></i>
                    </button>
                }

            </div>
        }
        else
        {
            <div class="not-member-yet">
                <button class="pending-request">
                    Pending
                </button>
                <form method="post" asp-route="delete_group_membership" asp-route-id="@Model.UserMembership.Id" style="display: contents">
                    <button type="submit" class="cancel-request">
                        Cancel request
                    </button>
                </form>
            </div>
        }
    </div>
    <div class="information">
        <div class="description">
            <p> Group description : @Model.Description </p>
        </div>
        <div class="chat-people">
            @foreach (var membership in Model.Memberships)
            {
                @Html.Partial("PersonPartial", membership)
            }

        </div>
    </div>
    <div class="edit-group hid">
        <form method="get" asp-route="edit_group" asp-route-id="@Model.Id" style="display: contents;">
            <button type="submit" class="edit-group-button">
                <ion-icon name="create-outline"></ion-icon>
                Edit
            </button>
        </form>
        <form method="get" asp-route="delete_group" asp-route-id="@Model.Id" style="display: contents;">
            <button type="submit" class="edit-group-button">
                <ion-icon name="trash-outline"></ion-icon>
                Delete
            </button>
        </form>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
      $(".person").on('click', function(){
      $(this).toggleClass('focus').siblings().removeClass('focus');
      })
    
     const delete_buttons = document.querySelector('.edit-group')
     const action_divs = document.querySelector('.menu')
             $(document).ready(function() {
                 if (action_divs !=null){
                     action_divs.addEventListener("click",function() {
                            
                           if(delete_buttons.classList.contains('hid')){
                               delete_buttons.classList.remove('hid');
                               delete_buttons.classList.add('active');
                           }
                           else{
                               delete_buttons.classList.remove('active');
                               delete_buttons.classList.add('hid');
                           }
                     })
                 }                 
             });
      const mess_buttons = document.querySelectorAll('.edit-mess-group')
           const mess_divs = document.querySelectorAll('.mess-menu')
                   $(document).ready(function() {
                       if (mess_divs !=null){
                           $.each(mess_divs, function(ind, butt) {
                              butt.addEventListener("click",function() {
                                  
                                 if(mess_buttons[ind].classList.contains('hid')){
                                     mess_buttons[ind].classList.remove('hid');
                                     mess_buttons[ind].classList.add('active');
                                 }
                                 else{
                                     mess_buttons[ind].classList.remove('active');
                                     mess_buttons[ind].classList.add('hid');
                                 }
                              })
                           })
                       }                 
                   });
     let messages = document.querySelectorAll('.bubble');
     let last = messages.length - 1;
     messages[last].scrollIntoView(true);
</script>