@model Message
@{
    var messageClass = Model.userOwns ? "sent" : "";
    var visibleSettings = Model.userOwns || Model.userCanDelete;
    var settingsClass = visibleSettings ? "" : "hid";
}
<div class="bubble">
    <div class="info @messageClass">
        <div class="top-part-mess">
            <p class="user-mess">~@Model.User.UserName</p>
            <div class="mess-menu @settingsClass">
                <div class="dots"></div>
            </div>
        </div>
        <p class="cont-mess">@Model.Content</p>
        <p class="time">@Model.SentTime</p>
    </div>

    <div class="edit-mess-group hid">
        @if (Model.userOwns)
        {
            <form method="get" asp-route="edit_message" asp-route-id="@Model.Id" style="display: contents;">
                <button type="submit" class="edit-group-button">
                    <ion-icon name="create-outline"></ion-icon>
                    Edit
                </button>
            </form>
        }
        @if (Model.userCanDelete)
        {
            <form method="get" asp-route="delete_message" asp-route-id="@Model.Id" style="display: contents;">
                <button type="submit" class="edit-group-button">
                    <ion-icon name="trash-outline"></ion-icon>
                    Delete
                </button>
            </form>
        }
    </div>
</div>