@model Post 

@{
    Layout = "MyLayout";
}


<div class="edit-post">
    <h2> Edit a post</h2>
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Post", method: FormMethod.Post))
    {
        @Html.Label("Title", "Title")
        <br/>
        @Html.EditorFor(p => p.Title)
        <br/>
        @Html.ValidationMessageFor(p => p.Title, null)
        <br/>

        @Html.Label("Content", "Content")
        <br>
        @Html.EditorFor(p => p.Content)
        <br/>
        @Html.ValidationMessageFor(p => p.Content, null)
        <br/>
        <button type="submit">Edit Post</button>
    }
</div>