@model Post 

@{
    Layout = "MyLayout";
}
<section class="post-with-comments">
    <div class="post-s">
        <div class="post-header-s">
            <img src="https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736877__480.jpg" class="user-icon" alt="">
            <p class="username">@Model.User.UserName</p>
            <div class="edit-post-btn-s">
                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
            </div>
        </div>
        <div class="post-feed-s">
            <div class="post-img-container-s">
                <div class="text-cont">
                    <p class="text">@Model.Content</p>
                </div>
                <img src="https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736877__480.jpg" alt="">
            </div>
        </div>

        <div class="post-detail-s">
            <div class="detail-intracables-s">
                <ion-icon class="lbut" name="heart-outline"></ion-icon>
                <ion-icon class="cbut" name="chatbubble-ellipses"></ion-icon>
            </div>

            <span class="likes">3.4k</span>
            <span class="comment-count">300</span>

        </div>
        <div class="comments-s">
            @foreach (var comment in Model.Comments)
            {
                @Html.Partial("CommentPartial", comment)
            }

            @using (Html.BeginForm("Index", "Post", method: FormMethod.Post, htmlAttributes: new { @class = "comment-box" }))
            {
                <input type="hidden" name="PostId" value="@Model.Id"></input>
                <input name="Content" type="text" id="comment-input"></input>
                @Html.ValidationMessage("Content", null)
                <button class="add-comment-btn" type="submit">Post</button>
            }

        </div>
    </div>
</section>