@model Post;
@{
    Layout = "MyLayout";
    ViewData["Title"] = "New Post";
}

<div class="new-post-container">
    <h1 class="title-cont"> Create a new post</h1>
    @using (Html.BeginForm(actionName: "New", controllerName: "Post", method: FormMethod.Post))
    {
        <div class="title-post">
        @Html.Label("Title", "Title")
     
        @Html.EditorFor(p => p.Title)
   
        @Html.ValidationMessageFor(p => p.Title, null)
      
        </div>
        <div class="add-content">
        @Html.Label("Content", "Content")
      
        @Html.EditorFor(p => p.Content)
   
        @Html.ValidationMessageFor(p => p.Content, null)
        
        </div>
        <button type="submit" class="creat-post-btn">New Post</button>
    }
</div>