@model Profile; 
@{
    Layout = "MyLayout";
}

<div class="profile-container-edit">
    <h1 class="title-cont"> Edit profile</h1>

    @using (Html.BeginForm("Edit",
        "Profile",
        method: FormMethod.Post))
    {
        <div class="date-editare">
            <div class="about">
                @Html.Label("AboutMe", "About me",new{htmlAttributes = new{@class ="about-text"}})
                
                @Html.EditorFor(m => m.AboutMe,new{htmlAttributes = new{@class ="text"}})
              
                @Html.ValidationMessageFor(m => m.AboutMe, null)
            </div>
            <div class="gen">
               
                    @Html.Label("Gender", "My gender",new{htmlAttributes = new{@class ="title-gender"}})

              
                    @Html.DropDownListFor(m => m.Gender, new SelectList(ViewBag.GenderList),new{htmlAttributes = new{@class ="optiuni"}})
     
            </div>

        </div>
        <button type="submit" class="editare-btn">Edit profile</button>
    }

</div>