@using Microsoft.AspNetCore.Identity
@model Profile; 
@inject UserManager<AppUser> UserManager;
@{
    ViewData["Title"] = "Show Profile";
    Layout = "MyLayout";
    var owns_profile = UserManager.GetUserId(User) == Model.UserId;
}
<div class="profile-container" xmlns="http://www.w3.org/1999/html">
    <div class="user-info">

        <img class="user-dp" src="https://cdn.pixabay.com/photo/2015/04/23/21/59/tree-736877__480.jpg" alt="">

        <div class="info-container">
            <h1 class="name">@Model.User.UserName</h1>
            <p class="aboutme">
                About me : @Model.AboutMe
            </p>
            <p class="gender">Gender: @Model.Gender</p>
            <p class="gender">Vizibilitate: @Model.Visibility</p>
        </div>
        <div class="number-card">
            <p class="friends-card">
                2928k<span>Friends</span>
            </p>
            <p class="posts-card">
                28<span>posts</span>
            </p>
        </div>
    </div>
    <div class="btn-container">

        @if (owns_profile)
        {
            <button class="btn edit-btn">
                <a asp-route="edit_profile" asp-route-id="@Model.Id">edit profile </a>
            </button>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Start")" method="post">
                <button type="submit" class="btn logout-btn">Logout</button>
            </form>
        }
        else
        {
            <form asp-route="new_friendship" asp-route-id="@Model.UserId" method="post">
                <button type="submit" class="btn follow-btn">Follow </button>
            </form>
        }

    </div>
    <div class="gcontainer">
        <div class="gallery">
            @foreach (var postare in Model.User.UserPosts)
            {
                @Html.Partial("GaleryPostPartial", postare)
                ;
            }

        </div>
    </div>
</div>