@using MicroSocialPlatform.Misc
@model Profile; 
@{
    ViewData["Title"] = "Show Profile";
    Layout = "MyLayout";
    Friendship? received = Model.userReceived;
    Friendship? sent = Model.userSent;

    // Check if the user is a friend to the current user.
    bool friend =
        (sent != null && sent.Status == FriendshipStatus.Accepted)
        || (received != null && received.Status == FriendshipStatus.Accepted);

    //Check if profile information can be displayed
    bool visible = friend ||  Model.userCanEdit || Model.Visibility == Visibility.Public;
}
<div class="profile-container" xmlns="http://www.w3.org/1999/html">
    <div class="user-info">

        <img class="user-dp" src="@IOHelper.imageOrDefault(Model.ImageFilename, IOHelper.DefaultProfileImage)" alt="">

        <div class="info-container">
            <h1 class="name">@Model.User.UserName</h1>
            @if (visible)
            {
                <p class="aboutme">
                    About me : @Model.AboutMe
                </p>
                <p class="gender">Gender: @Model.Gender</p>
            }
        </div>
        @if (visible)
        {
            <div class="number-card">
                <p class="friends-card">
                    @Model.numFriends<span>Friends</span>
                </p>
                <p class="posts-card">
                    @Model.numPosts<span>posts</span>
                </p>
            </div>
        }
    </div>
    <div class="btn-container">
        @if (Model.userCanEdit)
        {
            <button class="btn edit-btn">
                <a asp-route="edit_profile" asp-route-id="@Model.Id">edit profile </a>
            </button>
            <form method="post" style="display: contents" asp-route="delete_profile" asp-route-id="@Model.Id">
                <button type="submit" class="btn edit-btn">
                    Delete profile
                </button>
            </form>
        }
        @if (Model.userOwnsProfile)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Start")" method="post">
                <button type="submit" class="btn logout-btn">Logout</button>
            </form>
        }
        else
        {
            if (friend)
            {
                // Get the friendship.
                Friendship? frienship = (received != null) ? received : sent;
                <form asp-route="delete_friendship" asp-route-id="@frienship.Id" method="post">
                    <button class="btn">Unfriend</button>
                </form>
            }
            else if (received == null && sent == null)
            {
                // There is no connection.
                <form asp-route="new_friendship" asp-route-id="@Model.UserId" method="post">
                    <button type="submit" class="btn follow-btn">Friend request</button>
                </form>
            }
            else if (received != null)
            {
                // There is a pending request from that user.
                <form asp-route="accept_friendship" asp-route-id="@received.Id" method="post">
                    <button class="btn">Accept friend request</button>
                </form>

                <form asp-route="delete_friendship" asp-route-id="@received.Id" method="post">
                    <button class="btn">Deny friend request</button>
                </form>
            }
            else if (sent != null)
            {
                // There is a pending request to that user.
                <form asp-route="delete_friendship" asp-route-id="@sent.Id" method="post">
                    <button class="btn">Pending friend request</button>
                </form>
            }
        }

    </div>

    @if (visible)
    {
        <div class="gcontainer">

            <div class="gallery">
                @foreach (var postare in Model.User.UserPosts)
                {
                    @Html.Partial("GaleryPostPartial", postare)
                }

            </div>
        </div>
    }
    else
    {
        <div class="gcontainer">
            <p class="notfriend">This profile is private</p>
        </div>
    }
</div >